*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
    position: sticky;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
a{
    text-decoration: none;
    color: rgb(92, 72, 72);
}
p{
    color: rgb(28, 29, 2);
    position: relative;
    
}    
.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}
.col-2{
    flex-basis: 50%;
    min-width: 360px;
    display: inline-block;
}
.col-2 img{
    position: relative;
    padding: 50px 0;
    top: 50px;
    right: 100px;
    max-height: 600px;
    max-width: 750px;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
}
.btn{
    display: inline-block;
    background: black;
    color: rgb(224, 213, 213);
    padding: 5px;
    margin: 30px 0;
    border-radius: 10px;
    transition: background 0.5s;
}
.header{
    background: radial-gradient(rgb(201, 153, 153),rgb(220, 229, 170));
}
.btn:hover{
    background: gold;
}
.small-container{
    margin: 70px 0;
    overflow-x: auto;
}
.small-container::-webkit-scrollbar{
    width: 0;
}
.col-3{
    flex-basis: 30%;
    min-width: 30px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 50%;
}
.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 70%;
}
.logo img{
    position: absolute;
    width: auto;
    height: 200px;
    top: -10px;
    left: 0px;
}
.col-4 img{
    clip-path: 50%;
}
.title{
    text-align: center;
    margin: auto;
    position: relative;
    line-height: 60px;
    color: rgb(70, 0, 0);
}
.title::after{
    content: '';
    background: red;
    width: 120px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: absolute;
    bottom: 0;
    left: 45%;
    transform: translateX(-50);
}
h4{
    color: black;
    font-weight: bold;
}
.h4 p{
    font-size: 50px;
}
.rating{
    color: red;
}
.col-4:hover{
    transform: translateY(-5px);
}
.col-2 .offer-img{
    position: absolute;
    size: 900px;
    left: 300px;
    top: 2500px;
}
.testimonial{
    padding-top: 100px;
    background-color: rgb(250, 182, 158);
}
.testimonial .col-3{
    text-align: center;
    padding: 40px 20px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.5s;
}
.testimonial .col-3:hover{
    transform: translateY(-10px);
}
.testimonial .col-3 img{
    width: 70%;
    margin-top: 20px;
    border-radius: 50px;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0;
    color: #777;
}
.col-5 img{
    position: relative;
    height: 200px;
    width: 200px;
    align-items: inline-block;
    margin: auto;
    white-space: nowrap; 
    cursor: pointer;
    filter: opacity(50%);
}
.col-5 img:hover{
    filter: opacity(100%);
}
.footer{
    background: #000;
    color: rgb(231, 185, 185);
    font-size: 14px;
    padding: 60px 0 20px;
}
.profile{
    display: inline-block;
    padding: 20px;
}
.pics{
    background: rgb(24, 22, 5);
    border-radius: 30px;
    padding: 0px 0 0px 0;
}
.button .icon :nth-child(1){
    color: white;
}.footer hr{
    border: none;
    background: red;
    height: 1px;
    margin: 20px 0; 
}
.copyright{
    text-align: center;
    color: aliceblue;
}
.menu-icon{
    width: 28px;
    margin-left: 20px;
    display: none;
}

@media only screen and (max-width: 800px) {
    nav ul{
        position: absolute;
        top: 70px;
        left: 0;
        background: #333;
        width: 100%;
        overflow: hidden;
        transition: max-height 0.5s;
    }
    nav ul li{
        display: block;
        margin-right: 50px;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: antiquewhite;
    }
    .menu-icon{
        display: block;
    }
}